@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,600;0,700;0,900;1,200&display=swap');
div#botoesextras {
    height: 70px;
}
#botao{
    margin-right: 10px;
}
#botao3{
    margin-right: 10px;
}
div#area { /* Eu poderia ter colocado isso no .css, mas nao tinha conhecimento na época */
    background: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
    font-family: 'Overpass', sans-serif;
    font-size: 20pt;
    width: 230px;
    height: 50px;
    background-image: linear-gradient( to top, rgb(134, 31, 0), rgb(182, 0, 0)); /* modelo de gradiente pro css */
    line-height: 50px;
    border-radius: 17px; /* borda */
    text-align: center; /* alinha o texto */
    margin: 0 auto 0 auto; /* pra alinhar o retangulo */
}
body {
    background: rgb(129, 4, 0);
    font: normal 20pt Arial;
}   

header {
    color: white;
    text-align: center;
}

section {
    text-align: center;
    position: relative;
    background: white;
    border-radius: 15px;
    padding: 10px;
    width: auto;
    max-width: 500px;
    margin:0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.527);

}
nav#tabs {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 400px;
    margin: 100px auto;
    background-color: rgb(175, 26, 26);
    position: relative;
    border-radius: 15px;
    float: left;
}
div#contador{
    font-family: 'Overpass', sans-serif;
    font-size: 16pt;
    text-align: left;
}
div#brk {
    font-family: 'Overpass', sans-serif;
    font-size: 20pt;
    text-align: left;
}
nav#barra {
    width: 100%;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.349);
}
a#barra2 {
    font-family: 'Overpass', sans-serif;
    font-size: 16pt;
}
body h1{
    font-family: 'Overpass', sans-serif;
    font-size: 25pt;
    font-weight: 600;
}
body#tudo {
    padding: 60px;
    margin: auto;
}
div#hrs {
    font-family: 'Overpass', sans-serif;
    font-size: 40pt;
    font-weight: 700;
    text-align: center;
    margin: auto;
}
div#botoes {
    margin: auto;
    font: normal 20pt Arial;
    size: 1px; 
    display: flex;
    flex-direction: column;
}
div #botoescima{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-bottom: 15px;
    
}
div #botoesbaixo{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
div {
    text-align: center;
}
footer {
    font: normal 9pt Arial;
    color: white;
    text-align: center;
    font-style: italic;
    margin: auto;
    padding: 15px;
}