@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,600;0,700;0,900;1,200&display=swap');
div#botoesextras {
    height: 70px;
}
body {
    background: #8F1D20;
    font: normal 20pt Arial;
}
.first-page{
  height: 100vh;
  width: 100%;
}

/* nav */
nav{
  width: 100%;
  height: 8vh;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center; /*centralizados verticalmente*/
  box-shadow: 0px 3px 1px rgb(163, 163, 163);
}
@media screen and (min-width: 520px){
  nav {
    display: none;
  }
  .infos{
    display: none;
  }
}
.navesquerda{
  display: flex;
  align-items: center;
  padding: 15px; /*margem interna*/
}
.logomarca{
  width: 3rem;
  height: 3rem;
  margin-left: .3vw;
  cursor:pointer;
}
.navdireita{
  margin-left: 55px;
}
.menu{
  width: 5rem;
  height: 3rem;
  display: flex;
  float: right;
  margin-right: 5vw;
  cursor:pointer;
}
nav ul li{
  list-style: none;
  padding: 15px;
  display: flex;
  float: left;
}
nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  font-size: 9pt;
  display: flex;
  align-items: center;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #8F1D20;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.35s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.356); /*colocar sombras*/
}
.sidenav img{
  height: 16px;
  width: 16px;
  margin-right: px !important;
}
.sidenav .insta{
  margin-left: -20px;
}
.sidenav .fotos-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin: -25px 0 0 0;
}
.sidenav .github {
    margin: 0 -7.5px 0 0;
}
/* The navigation menu links */
.sidenav a{
  padding: 8px 15px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.2s;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 20pt;
  text-align: right;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .traco {
  border-top: 1px solid rgba(235, 235, 235, 0.418);
  margin-top: -1vh;
  box-shadow: 0px -6px 3px rgba(0, 0, 0, 0.021); /*colocar sombras*/
}
.sidenav .copy{
    font-size: 18px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 520px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Página de Tutorial */
#arrow-back{
  width: 2.5rem;
  height: 2.5rem;
  top: 5vh;
  left: 1.5vw;
  position: relative;
}
#tuto-texto{
  width: 50%;
  font-size: 2.5em;
  border-bottom: 1px solid rgb(192, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}
.topo-page2{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.fotos-tuto{
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fotos-tuto h1{
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fotos-tutos{
  width: 50%;
  height: auto;
  flex-direction: column;
}
.fotos-tutos img{
  width: 30rem;
  height: 30rem;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  margin-top: 5vh;
}

/* ---------------------------------------- */

.topo {
  color: #f7f7f7;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5vh;
}
.topo h1{
  height: auto;
  width: auto;
}
.topo img{
  height: 2.5rem;
  width: auto;
  margin-right: .5rem;
}
.timer{
    text-align: center;
    position: relative;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
    width: auto;
    max-width: 360px;
    margin:0 auto;
    box-shadow: 0px 5px 1px rgb(163, 163, 163);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div#contador{
    font-family: 'Overpass', sans-serif;
    font-size: 16pt;
    text-align: left;
}
#tempo{
  margin-bottom: 1.5rem;
}
div#brk {
  font-family: 'Overpass', sans-serif;
  font-size: 16pt;
  text-align: left;
}
nav#barra {
    width: 100%;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
}
body h1{
    font-family: 'Overpass', sans-serif;
    font-size: 35pt;
    font-weight: 600;
}
body#tudo {
    margin: auto;
}
div#hrs {
    font-family: 'Overpass', sans-serif;
    font-size: 50pt;
    font-weight: 700;
    text-align: center;
    margin: auto;
}
botoes {
    width: 70%;
    float: right;
}
#botoes img{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

div {
    text-align: center;
}
.container {
  max-width: 360px;
  margin: 50px auto;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  white-space: normal;
  text-align: center;
  box-shadow: 0px 5px 1px rgb(163, 163, 163);
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}
.container h1{
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
}
.input-tarefas{
  border-radius: 3px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 1.5px 0px rgb(163, 163, 163);
  height: 2rem;
  width: auto;
  font-size: 0.5em;
  outline-style: none;
}
.btn-tarefa{
  border: none;
  height: 2rem;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 1.5px 0px rgb(163, 163, 163);
  cursor: pointer;
  font-size: 0.5em;
  outline: none;
}
.lista li{
  background-color: #fff;
  box-shadow: 0px 1.5px 0px rgb(163, 163, 163);
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  white-space: normal;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  text-align: justify;
  word-break: break-word;
  font-size: 0.8em;
  min-height: 3rem;
  height: auto;
  margin-top: 0.5rem;
}
.apagar{
  margin-right: 1rem;
  margin-left: 1rem;
  border: none;
  background-color: #8F1D20;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
}
form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
.infos{
  padding-top: 5vh;
}
.infos, .infos-2{
  width: 100%;
  background-color: #212529;
  color: #fff;
  height: auto;
  padding: 5vh 0 5vh 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info1, .dica{
  width: 360px;
}
.dica{
  margin-top: 5vh;
}
.dica h1{
  text-align: left;
  font-size: 1em !important;
}
.infos h1, .infos-2 h1{
  font-size: 1.5em;
  border-bottom: .5px solid rgb(63, 63, 63);
}
.infos p, .infos-2 p{
  font-size: .5em;
  text-align: justify;
  text-decoration: none;
}
#frase {
    font-family: 'Overpass', sans-serif;
    font-weight: 900;
    font-size: 9pt;
    color: #f7f7f7;
    text-align: center;
    font-style: italic;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media screen and (max-width: 340px){
  .infos{
    display: none;
  }
  .infos-2{
    margin-top: 40vh;
    width: 100%;
    padding: 0vh 0 5vh 0;
  }
  div#hrs {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px){
  .timer{
    width: 70%;
    margin-top: 2vh;
  }
  body h1{
    font-size: 25pt;
  }
  div#botoes{
    width: 90%;
  }
  .container {
    width: 70%;
  }
  .btn-tarefa{
    margin-top: 0.5rem;
  }
  .info1, .dica{
    max-width: 70%;
  }
  .infos{
    display: none;
  }
  .infos-2{
    margin-top: 5vh;
    width: 100%;
    padding: 0vh 0 5vh 0;
  }
  #tuto-texto{
    width: 100%;
    font-size: 1.8em;
  }
  .fotos-tutos{
    width: 50%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fotos-tutos img{
    width: 15rem;
    height: 15rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    margin-top: 5vh;
  }
  @media only screen and (min-width: 375px) {
    .fotos-tutos img{
      width: 18rem;
      height: 18rem;
    }
    .infos{
      display: none;
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 520px){
  .infos {
    display: none;
  }
  .infos-2{
    margin-top: 5vh;
    width: 100%;
    padding: 0vh 0 5vh 0;
  }
  #tuto-texto{
    width: 100%;
    font-size: 1.8em;
  }
  .fotos-tutos{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fotos-tutos img{
    width: 20rem;
    height: 20rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    margin-top: 5vh;
  }
}
@media screen and (min-width: 525px){
  div#hrs{
    font-size: 60pt;
  }
}