@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,600;0,700;0,900;1,200&display=swap');
div#botoesextras {
    height: 70px;
}
body {
    background: #8F1D20;
    font: normal 20pt Arial;
}
#arrow-back{
  width: 2.5rem;
  height: 2.5rem;
  top: 5vh;
  left: 1.5vw;
  position: relative;
}
#tuto-texto{
  width: 50%;
  font-size: 2.5em;
  border-bottom: 1px solid rgb(192, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}
.topo-page2{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.fotos-tuto{
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fotos-tuto h1{
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fotos-tutos{
  width: 50%;
  height: auto;
  flex-direction: column;
}
.fotos-tutos img{
  width: 30rem;
  height: 30rem;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  margin-top: 5vh;
}
.topo {
  color: #f7f7f7;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5vh;
}
.topo h1{
  height: auto;
  width: auto;
}
.topo img{
  height: 2.5rem;
  width: auto;
  margin-right: .5rem;
}
.timer{
    text-align: center;
    position: relative;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
    width: auto;
    max-width: 360px;
    margin:0 auto;
    box-shadow: 0px 5px 1px rgb(163, 163, 163);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
div#contador{
    font-family: 'Overpass', sans-serif;
    font-size: 16pt;
    text-align: left;
}
#tempo{
  margin-bottom: 1.5rem;
}
div#brk {
    font-family: 'Overpass', sans-serif;
    font-size: 20pt;
    text-align: left;
}
nav#barra {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body h1{
    font-family: 'Overpass', sans-serif;
    font-size: 35pt;
    font-weight: 600;
}
body#tudo {
    margin: auto;
}
div#hrs {
    font-family: 'Overpass', sans-serif;
    font-size: 60pt;
    font-weight: 700;
    text-align: center;
    margin: auto;
}
div#botoes {
    width: 70%;
    float: right;
}
#botoes img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
div {
    text-align: center;
}
.container {
  max-width: 360px;
  margin: 50px auto;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  white-space: normal;
  text-align: center;
  box-shadow: 0px 5px 1px rgb(163, 163, 163);
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}
.container h1{
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
}
.input-tarefas{
  border-radius: 3px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 1.5px 0px rgb(163, 163, 163);
  height: 2rem;
  width: auto;
  font-size: 0.5em;
  outline-style: none;
}
.btn-tarefa{
  border: none;
  height: 2rem;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 1.5px 0px rgb(163, 163, 163);
  cursor: pointer;
  font-size: 0.5em;
  outline: none;
}
.lista li{
  background-color: #fff;
  box-shadow: 0px 1.5px 0px rgb(163, 163, 163);
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  white-space: normal;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  text-align: justify;
  word-break: break-word;
  font-size: 0.8em;
  min-height: 3rem;
  height: auto;
  margin-top: 0.5rem;
}
.apagar{
  margin-right: 1rem;
  margin-left: 1rem;
  border: none;
  background-color: #8F1D20;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
}
form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.infos{
  width: 100%;
  background-color: #212529;
  color: #fff;
  height: auto;
  padding: 5vh 0 5vh 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info1, .dica{
  width: 360px;
}
.dica{
  margin-top: 5vh;
}
.dica h1{
  text-align: left;
  font-size: 1em !important;
}
.infos h1{
  font-size: 1.5em;
  border-bottom: .5px solid rgb(63, 63, 63);
}
.infos p{
  font-size: .5em;
  text-align: justify;
  text-decoration: none;
}
#frase {
    font: normal 9pt Arial;
    color: #f7f7f7;
    text-align: center;
    font-style: italic;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}